<h1>EAT DA BURGERRRRRR</h1>

<h2>Name your Burger:</h2>
<form>
    <div>
        <label for="burger">Burger:</label>
        <input type="text" id="burger" name="name">
        <br>
        <button type="submit">Add Burger</button>
    </div>
</form>

<h2>Let's Eat!</h2>

<ul>
    {{#each burgers}}
    {{#unless isDevoured}}
    {{> burgers/burger-block isDevoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
    {{#each burgers}}
    {{#if isDevoured}}
    {{> burgers/burger-block isDevoured=true}}
    {{/if}}
    {{/each}}
</ul>