<tr class="table-row">
    <td>

        {{name}}

        <button type="button" class="burger-handler button primary float-right align-middle" data-id="{{id}}"
            data-devoured="{{isDevoured}}">

            {{#if isDevoured}}Eat Again{{else}}Devour{{/if}}

        </button>
    </td>
</tr>